/* GLOBAL STYLES */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ececec;
}

.bebas {
  font-family: "bebas-neue", sans-serif;
}

.helvetica {
  font-family: Helvetica, sans-serif;
}

.flex {
  display: flex;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.space {
  margin: auto;
}

.underline {
  text-decoration: underline;
  color: black;
}

.textStyle {
  color: black;
  letter-spacing: 1px;
}

/* NAV */

.nav {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  font-size: 12pt;
  background-color: white;
}

.navLink {
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 1.41px;
  line-height: 60px;
}

.navLink:hover {
  color: #4a4a4a;
}

.logo {
  z-index: 100;
  margin: auto;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 5px;
  width: 120px;
  height: 120px;
}

.mobileNav {
  visibility: hidden;
  display: none;
}

.relative {
  position: relative;
}

.pushLeft {
  margin-right: auto;
}

@media only screen and (max-width: 1000px) {
  .nav {
    visibility: hidden;
    display: none;
  }
  .mobileNav {
    z-index: 100;
    position: fixed;
    top: 0;
    visibility: visible;
    display: block;
    width: 100%;
    height: 75px;
    background-color: white;
  }
  .menu {
    background-image: url("images/menu.jpg");
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 22px 22px;
  }
  .menu:hover {
    background-image: url("images/menu-hover.jpg");
    background-position: 22px 20px;
  }
  .logo {
    z-index: 100;
    margin: auto;
    padding-top: 5px;
    width: 100px;
    height: 100px;
  }
}

/* BLOCK1 */

.headerContainer {
  margin: 0;
  margin-top: 75px;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto;
  background-image: url("images/Banner.png");
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: contain;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  /* border: solid black 1px; */
}
.headlineContainer {
  grid-column: 2/4;
  grid-row: 1/2;
}
.textBoxContainer {
  grid-column: 2/4;
  grid-row: 2/3;
}
.signatureContainer {
  grid-column: 1/1;
  grid-row: 2/3;
}
.title {
  font-size: 20pt;
  color: black;
}
.headline {
  margin-top: 150px;
  font-size: 100pt;
  margin-left: 14vw;
  text-align: left;
  line-height: 110px;
}
.textBox {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 400px;
  background-color: white;
  color: #4a4a4a;
  font-size: 11pt;
  padding: 50px;
  padding-left: 65px;
  padding-right: 65px;
  line-height: 18px;
}
.signature {
  position: absolute;
  left: 0;
}
.headlineMobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .headerContainer {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .headline {
    display: none;
  }
  .headlineMobile {
    display: block;
    margin-top: 0;
    font-size: 50pt;
    line-height: 45pt;
    color: black;
    margin-bottom: 40px;
  }
  .textBoxContainer {
    margin-top: 300px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .textBox {
    width: 60%;
  }
  .signature {
    margin-top: 250px;
    width: 25%;
  }
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .signature {
    display: none;
  }
  .textBoxContainer {
    margin-top: 200px;
    grid-column: 1/6;
    grid-row: 2/3;
  }
}

/* BLOCK 2 */

.marginTop {
  margin-top: 50px;
}

.quoteContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  background-image: url("images/Quote.png");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}

.quoteTextContainer {
  grid-column: 1;
  grid-row: 2/3;
}

.quote {
  margin-top: 120px;
  margin-left: 14vw;
  text-align: left;
  width: 400px;
}

.quoteText {
  margin-top: 0;
  font-size: 30pt;
  line-height: 50px;
}

@media only screen and (max-width: 1000px) {
  .marginTop {
    margin-top: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .quoteContainer {
    height: 350px;
  }
  .quoteIcon {
    width: 60px;
  }
  .marginTop {
    margin-top: 680px;
  }
  .quote {
    margin-left: 5vw;
    width: 200px;
  }
  .quoteText {
    font-size: 20pt;
    line-height: 30px;
  }
  .quoteTextContainer {
    grid-column: 1;
    grid-row: 2/3;
  }
}

/* BLOCK 3 */

.blogBG {
  margin-top: 160px;
  width: 100%;
  height: 800px;
  background-image: url("images/grad-bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blogHeadline {
  z-index: 20;
  position: absolute;
  font-size: 90pt;
  line-height: 115px;
  top: -60px;
  left: 50%;
  width: 410px;
  margin-left: -225px;
  border-bottom: 8px solid #000;
}

.blogContainer {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1150px;
}

.blogItems {
  display: flex;
  justify-content: center;
  width: 100%;
}

.blogTitle {
  font-size: 80pt;
  line-height: 0;
  float: left;
}

.blogButton {
  float: right;
  background: black;
  color: white;
  font-size: 12pt;
  width: 200px;
  height: 40px;
  border: 0;
  outline: 0;
}

.blogButton:hover {
  background-color: #4a4a4a;
}

.blogCard {
  margin: 10px;
  padding-bottom: 20px;
  background-color: white;
}

.blogCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogHeader {
  margin-bottom: 60px;
}

.meta {
  display: flex;
  margin-top: 20px;
  margin-left: 15px;
  line-height: 10px;
}

.arrow {
  margin-top: 45px;
  margin-right: 15px;
  margin-left: auto;
}

.arrow:hover {
  opacity: 0.5;
}

.blogButtonMobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .blogContainer {
    width: 100%;
  }
  .blogItems {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .blogImage {
    width: 250px;
  }
  .blogCard {
    width: 250px;
  }
  .blogBG {
    margin-top: 0;
    width: 100%;
    height: 600px;
    background-size: cover;
  }
  .blogHeadline {
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 60pt;
    line-height: 60pt;
    width: 275px;
    border-bottom: 8px solid #000;
  }

  .blogTitle {
    margin-left: 6%;
    font-size: 60pt;
    line-height: 20px;
    float: left;
  }

  .blogButton {
    margin-right: 6%;
  }
}

@media only screen and (max-width: 600px) {
  .blogContainer {
    top: 100;
  }
  .blogItems {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .blogBG {
    margin-top: 0;
    height: 1350px;
  }
  .blogHeadline {
    top: 35px;
  }
  .blogTitle {
    margin: 0;
    padding: 0;
  }
  .centerBlogTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .blogButton {
    display: none;
  }
  .blogButtonMobile {
    margin-top: 20px;
    display: block;
    background: black;
    color: white;
    font-size: 12pt;
    width: 150px;
    height: 40px;
    border: 0;
    outline: 0;
  }
  .blogButtonMobile:hover {
    background-color: #4a4a4a;
  }
}

/* BLOCK 4 */

.block4 {
  width: 100%;
  height: 100%;
}
.instaContainer {
  margin-top: 50px;
  height: 800px;
}

.instaHandle {
  font-size: 30pt;
}

.instaHandle:hover {
  color: #4a4a4a;
}

.instaImages {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.insta1 {
  position: absolute;
  top: 100px;
  left: 0;
}

.insta1:hover {
  top: 95px;
  left: -10px;
  z-index: 10;
  width: 310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.insta2 {
  position: absolute;
  top: 0;
  left: 270px;
}

.insta2:hover {
  top: -5px;
  left: 260px;
  z-index: 10;
  width: 310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.insta3 {
  z-index: 1;
  position: absolute;
  top: 200px;
  left: 500px;
}

.insta3:hover {
  top: 195px;
  left: 490px;
  z-index: 10;
  width: 310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.insta4 {
  position: absolute;
  top: 0;
  left: 650px;
}

.insta4:hover {
  top: -5px;
  left: 640px;
  z-index: 10;
  width: 310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.insta5 {
  position: absolute;
  top: 310px;
  right: 0;
}

.insta5:hover {
  top: 305px;
  right: -10px;
  z-index: 10;
  width: 310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instaQuote {
  position: absolute;
  top: 350px;
  left: 230px;
}

.instaQuote:hover {
  position: absolute;
  top: 345px;
  left: 225px;
  z-index: 10;
  width: 310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instaMobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .instaImages {
    display: none;
  }
  .instaMobile {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .instaMobileImage {
    width: 200px;
    height: 200px;
  }
  .instaContainer {
    height: 100%;
  }
}

/* BLOCK 5 */

.block5 {
  height: 100%;
  width: 100%;
}

.signUpContainer {
  margin-top: 100px;
  width: 100%;
  height: 400px;
  background-color: #000;
}

.subscribe {
  margin-top: 100px;
  font-size: 70pt;
  color: white;
}

.signUpForm {
  margin-top: 50px;
  width: 900px;
  height: 100px;
}

.inputField {
  color: white;
  background: none;
  border: none;
  font-size: 14pt;
  width: 400px;
  margin-right: 20px;
  border-bottom: 1px solid white;
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .subscribe {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 40pt;
  }
  .signUpContainer {
    margin-top: 50px;
    height: 300px;
  }
  .signUpForm {
    margin-top: 0;
    width: 250px;
  }
  .inputField {
    width: 250px;
    margin-bottom: 25px;
  }
}

/* MOBILE NAV */

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: white;
}

.overlay-content {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  overflow: hidden;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
}

.overlay a:hover {
  color: #4a4a4a;
}

.overlay .closebtn {
  background-image: url("images/close-menu.png");
  height: 70px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 22px 22px;
}
